@import "fonts";

.market-stats-box {
  @extend .col-lg-15;
  @extend .col-md-3;
  @extend .col-sm-4;
  @extend .col-xs-6;
  cursor: pointer;


  @media screen and (max-width: 540px) {
    width: 100%;
  }

  .contents {

    @media screen and (max-width: 540px) {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height: 180px;
    }
    position: relative;
    margin-bottom: 15px;
    height: 250px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid lightgray;
    font-size: $body-font-size;
    color: dimgray;

    .market-symbol {
      font-size: $b-head-font-size;
      //font-weight: bold;
      text-align: center;
      margin-bottom: 8px;
    }

    .stats-list li {
      list-style: none;
      position: relative;
      height: 24px;

      .stat-label {
        font-weight: bold;
        position: absolute;
        height: 24px;
        left: 10px;
      }

      .stat-value {
        position: absolute;
        right: 10px;
      }
    }

    .update-time {
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

    .tiny.currency-code {
      display: inline-block;
      padding: 0 2px 0 2px;
    }
  }
}

